@model GCAPI.Models.Score

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Score</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Strokes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strokes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scorecard.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scorecard.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
